.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main {
  width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


