.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 15px;
}
.home h1 {
  font-size: 50px;
  font-weight: 300;
  line-height: 120%;
  margin: 0;
}
.home p {
  font-size: 20px;
  line-height: 100%;
  font-size: 400;
  margin: 16px 0 60px;
}
